{% extends 'home.html' %}

{% block content %}

<div class="container well">
    <div class="col-md-offset-4 col-md-5 ">
        <div >
             <h1 class="page-header text-center" style="margin-top: 100px; color: beige;">Register</h1>
        </div>
        {% if messages %}
        {% for message in messages %}
            {% if "error" in message.tags %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div style="background: linear-gradient(rgb(192, 220, 224),hsl(185, 17%, 72%));padding: 20px; border-radius: 10px;">
        <form action="{% url 'Register' %}" autocomplete="off" method="POST" style="color: black;">
            {% csrf_token %}
           <div class="form-group ">

            {{form.as_p}}

            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Submit">
            </div>
           </div> 
           <span id="reg">already do you have an account? <a href="{% url 'Login' %}" style="color: black;"> Login</a></span>
        </form>
    </div>
    
        
    </div>
</div>

{% endblock %}